language: java
jdk:
  - oraclejdk7
  - oraclejdk8
before_script:
  sudo keytool -importcert -keystore $JAVA_HOME/jre/lib/security/cacerts -file betamax.pem -storepass changeit -noprompt
sudo: required
